atlassian-python-api
beautifulsoup4
datasets
fastapi
google-generativeai
html2text
langchain
langchain-google-genai
langchain-ollama
langchain-openai
langchain-qdrant
langsmith
pydantic
pydantic-settings
pytest
pytest-mock
pytesseract
qdrant-client
requests
uvicorn
