atlassian-python-api
beautifulsoup4
datasets
fastapi
google-generativeai
html2text
langchain
langchain-community
langchain-google-community
langchain-google-genai
langchain-googledrive
langchain-ollama
langchain-openai
langchain-qdrant
langsmith
llama-index
llama-index-embeddings-ollama
llama-index-readers-confluence
llama-index-readers-github
llama-index-readers-google
llama-index-readers-jira
llama-index-vector-stores-qdrant
lxml
ollama
pydantic
pydantic-settings
pytest
pytest-mock
pytesseract
qdrant-client
requests
httpx
uvicorn
