name: Run Pytest Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref || github.ref }}
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libcairo2-dev pkg-config
    - name: Cache pip dependencies
      uses: actions/cache@v5
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[tests]
        python -m pip install pre-commit readmeai~=0.6.0
    - name: Run pre-commit
      id: pre_commit
      run: pre-commit run --all-files
      continue-on-error: true
    - name: Commit changes
      id: auto_commit
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "style: auto-fixes from pre-commit"
    - name: Fail if pre-commit failed and no changes were auto-fixed
      if: steps.pre_commit.outcome == 'failure' && steps.auto_commit.outputs.changes_detected == 'false'
      run: exit 1
    - name: Run pytest unit tests
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        ./tools/test_unit.sh


  # integration:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Check out code
  #     uses: actions/checkout@v3
  #   - name: Set up Python
  #     uses: actions/setup-python@v4
  #     with:
  #       python-version: '3.12'
  #   - name: Cache pip dependencies
  #     uses: actions/cache@v5
  #     with:
  #       path: ~/.cache/pip
  #       key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
  #       restore-keys: |
  #         ${{ runner.os }}-pip-
  #   - name: Install dependencies
  #     run: |
  #       python -m pip install --upgrade pip
  #       python -m pip install -e .
  #       python -m pip install readmeai~=0.6.0
  #   - name: Run integration tests
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #     run: |
  #       python -m pytest tests/integration
